:root {
    --accent-color: #2196f3;
    --primery-font-family: 'Roboto', sans-serif; 
    --second-font-family: 'Raleway', sans-serif;
    --primery-text-color: #212121; 
    --second-text-color: #757575;
    --primery-background-font: #E5E5E5;
    --second-background-font: #F5F4FA;
}